@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */
/* @import "~@angular/material/prebuilt-themes/purple-green.css"; */
/*
*/
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width{
    width: 100% !important;
}

.tooltip-red{
    background: #b71c1c !important;
}

.p-menuitem-link-active{
    background: #3F51B5 !important;
    color: #ffffff !important;
}

.p-menuitem-link-active .p-menuitem-text{
    color: #ffffff !important;
}

.p-menuitem-link-active .p-menuitem-icon{
    color: #ffffff !important;
}


.ngx-pagination .current {
    background: #3F51B5 !important;
  }

.ngx-pagination a, .ngx-pagination button {
    text-decoration: none !important;
    cursor: pointer;
}

.btn-primary{
    background: #3F51B5 !important;
}

.cal-day-badge {
    background-color: #3F51B5 !important;
    color: #fff;
}

.cal-open-day-events {
    color: #fff;
    background-color: #3F51B5 !important;
    box-shadow: none !important; 
}