<div class="card">
    <div class="card-header">
        <button pButton 
        (click)="openModalAddBills()"
        matTooltip="Agregar Nuevo Gasto"
        matTooltipClass="tooltip-red"
        type="button" 
        label="Agregar Gasto"
        icon="pi pi-plus-circle" 
        class="p-button"></button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                      <th scope="col">Monto</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Descripción</th>
                      <th scope="col" class="text-center">Comprobante</th>
                      <th scope="col" class="text-center">Acciones</th>
                    </tr>
                  </thead>
                  <tbody class="table-group-divider">
                    <tr *ngFor="let item of transaction | paginate: { itemsPerPage: 5, currentPage: p }">
                      <td>{{item.amount | currency}}</td>
                      <td>{{item.date | date: 'dd/MM/yyyy'}}</td>
                      <td>{{item.description}}</td>
                      <td class="text-center">
                        <ng-container *ngIf="item.evidence; else noEvidence">
                          <button 
                          (click)="openViewEvidenceComponent(item)"
                          pButton 
                          type="button" 
                          matTooltip="Comprobante"
                          matTooltipClass="tooltip-red"
                          label="" 
                          icon="pi {{getClassButtonEvidence(item.typeFile)}}" 
                          class="p-button p-button-danger"></button>
                        </ng-container>
                        <ng-template #noEvidence>
                          N/A
                        </ng-template>
                      </td>
                      <td class="text-center formgroup-inline">
                        <button (click)="edit(item)" pButton type="button" matTooltip="Editar"
                        matTooltipClass="tooltip-red" label="" icon="pi pi-pencil"
                        class="p-button p-button-secundary mr-2"></button>

                        <button (click)="remove(item)" pButton type="button" matTooltip="Eliminar"
                        matTooltipClass="tooltip-red" label="" icon="pi pi-times-circle"
                        class="p-button p-button-danger"></button>
                      </td>
                    </tr>
                  </tbody>
              </table>
              <div class="flex flex-wrap align-items-center justify-content-end">
                <pagination-controls 
                previousLabel="Anterior"
                nextLabel="Siguiente"
                (pageChange)="p = $event"></pagination-controls>
              </div>
        </div>
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>