<div class="container-login">
    <div>
        <div class="col-md-12 mb-3 ">
            <div class="card">
                <div class="card-header">
                    Iniciar Sesión
                </div>
                <div class="card-body">
                    <form class="row " [formGroup]="form">
                        <div class="col-md-12">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Email</mat-label>
                                <input type="email" formControlName="email" matInput placeholder="Email">
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Password</mat-label>
                                <input type="password" formControlName="password" matInput placeholder="Password">
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <button pButton type="button" (click)="login()" [disabled]="form.invalid" label=" Iniciar Sesión"
                                class="p-button-sm full-width">
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="flex justify-content-end ">
            <button [routerLink]="['/auth/register']"  
            routerLinkActive="router-link-active" 
            pButton type="button" 
            label="¿No tienes cuenta? Registrate" 
            icon="pi pi-users" 
            iconPos="right"
            class="p-button-link"></button>
            </div>
        </div>

    </div>

</div>