<mat-dialog-content  class="mat-typography">
   <div class="row" [formGroup]="form">
        <div class="col-12" *ngIf="!data?.hideTypesTransaction">
            <div class="input-group">
                <select class="form-select mr-2" formControlName="transactionType">
                    <option selected disabled value="null">Tipo de Transacción</option>
                    <option [ngValue]="item.id" *ngFor="let item of typesTransaction">{{item.name}}</option>
                </select>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="text-label">Descripción</label>
                <div>
                    <input type="text" formControlName="description" placeholder="Descripción" class="form-control mr-2">
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="text-label">Fecha desde</label>
                <div>
                    <input type="date" formControlName="from" placeholder="from" class="form-control mr-2">
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="text-label">Fecha Hasta</label>
                <div>
                    <input type="date" formControlName="to"  placeholder="to" class="form-control mr-2">
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-divider></mat-divider>

<mat-dialog-actions  align="end">
    <button (click)="close()" pButton type="button" label="Cerrar" icon="pi pi-times-circle"
        class="p-button-sm p-button-danger mr-3"></button>
    <button pButton type="button" (click)="apply()" 
    label="Aplicar Filtro" icon="pi pi-save"
     class="p-button-sm btn-save"></button>
</mat-dialog-actions>