<div class="card">
  <div class="card-header flex justify-content-end flex-wrap card-container">
    <div class="formgroup-inline">
      <div class="flex align-items-center justify-content-center">
        <select class="form-select mr-2" [(ngModel)]="selectedValue" (ngModelChange)="onChange($event)">
          <option selected disabled value="null">Tipo de Transacción</option>
          <option [ngValue]="item.id" *ngFor="let item of typesTransaction">{{item.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            Anterior
          </div>
          <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
            Hoy
          </div>
          <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            Siguiente
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>{{ viewDate | date: 'mediumDate'}}</h3>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
          <div class="btn" (click)="setView(CalendarView.Month)"
          [ngClass]="currentClass(CalendarView.Month)">
            Mes
          </div>
          <div class="btn" (click)="setView(CalendarView.Week)" 
          [ngClass]="currentClass(CalendarView.Week)">
            Semana
          </div>
          <div class="btn" (click)="setView(CalendarView.Day)" 
          [ngClass]="currentClass(CalendarView.Day)">
            Dia
          </div>
        </div>
      </div>
    </div>
    <br />
    <div [ngSwitch]="view">
      <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-day-view>
    </div>
  </div>
</div>